RB INFORMATION SERVICES/Separados/RB.PERSONALIZATION/Personalization.CORE/Schemas/CardList.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.rbsas.co/schemas/RBInformationServices/Schemas/Version 1.0/PostDataInput/CardList.xsd"
	 xmlns:ns0="http://www.rbsas.co/schemas/RBDAL/Schemas/Version 1.0.0/BusinessObjects/CardInfo.xsd"
	 xmlns:ns1="http://www.rbsas.co/schemas/RBDAL/Schemas/Version 1.0.0/BusinessObjects/CardUser.xsd"
	 targetNamespace="http://www.rbsas.co/schemas/RBInformationServices/Schemas/Version 1.0/PostDataInput/CardList.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.rbsas.co/schemas/RBDAL/Schemas/Version 1.0.0/BusinessObjects/CardInfo.xsd" schemaLocation="../../../RB.PERSONALIZATION/Personalization.CORE/Schemas/BusinessObjects/CardInfo.xsd"/>
	<xs:import namespace="http://www.rbsas.co/schemas/RBDAL/Schemas/Version 1.0.0/BusinessObjects/CardUser.xsd" schemaLocation="../../../RB.PERSONALIZATION/Personalization.CORE/Schemas/BusinessObjects/CardUser.xsd"/>
	<xs:element name="CardList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Card" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Card">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:CardInfo" minOccurs="0"/>
				<xs:element ref="User"/>
				<xs:element ref="Payer" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Payer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns1:User"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="User">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns1:User"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>