RB INFORMATION SERVICES/Separados/RB.PERSONALIZATION/Personalization.CORE/Schemas/BusinessObjects/Error.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.rbsas.co/schemas/RBDAL/Schemas/Version 1.0.0/BusinessObjects/Error.xsd"
	 targetNamespace="http://www.rbsas.co/schemas/RBDAL/Schemas/Version 1.0.0/BusinessObjects/Error.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Error">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ErrorCode"/>
				<xs:element ref="ErrorMessage"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ErrorCode" type="xs:string"/>
	<xs:element name="ErrorMessage" type="xs:string"/>
</xs:schema>