RBInformationServices/Separados/RBMerchanSystem/MerchanSystem.core/Schemas/MerchantSystemTransaction.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.rbsas.co/schemas/RBInformationServices/Schemas/Version 1.0.0/InputOutput/MerchantSystemTransaction.xsd"
	 xmlns:ns0="http://www.rbsas.co/schemas/RBDAL/Schemas/Version 1.0.0/BusinessObjects/Error.xsd"
	 targetNamespace="http://www.rbsas.co/schemas/RBInformationServices/Schemas/Version 1.0.0/InputOutput/MerchantSystemTransaction.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.rbsas.co/schemas/RBDAL/Schemas/Version 1.0.0/BusinessObjects/Error.xsd" schemaLocation="../../../RBMerchanSystem/MerchanSystem.core/Schemas/Error.xsd"/>
	<xs:element name="MerchantSystemTransaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TransactionId" minOccurs="0"/>
				<xs:element ref="RequestDate"/>
				<xs:element ref="ProcessingCode" minOccurs="0"/>
				<xs:element ref="MerchantCode" minOccurs="0"/>
				<xs:element ref="AcountBalanceAfter" minOccurs="0"/>
				<xs:element ref="PosId" minOccurs="0"/>
				<xs:element ref="ErrorCount"/>
				<xs:element ref="Errors" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TransactionId" type="xs:string"/>
	<xs:element name="ProcessingCode" type="xs:string"/>
	<xs:element name="MerchantCode" type="xs:string"/>
	<xs:element name="AcountBalanceAfter" type="xs:int"/>
	<xs:element name="PosId" type="xs:string"/>
	<xs:element name="ErrorCount" type="xs:byte"/>
	<xs:element name="Errors">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:Error" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RequestDate" type="xs:dateTime"/>
</xs:schema>