JavaProjects/ExtractVarsRefactor/UnrarEar/_sar/Audit_Management/Schemas/Errors_Audit_Save.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/DaviviendaHCS/Hybrid_Card_Davivienda/Logs_Management/Schemas/Errors_Audit_Save"
	 targetNamespace="http://www.tibco.com/DaviviendaHCS/Hybrid_Card_Davivienda/Logs_Management/Schemas/Errors_Audit_Save"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Errors_Save">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="error_message" type="xs:string"/>
				<xs:element name="id_process" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>