CommonsLibrary/Commons/SharedResources/Schemas/Request/BankNovedadesConfigurador.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="nsNovedadesConfiguradorBank"
	 targetNamespace="nsNovedadesConfiguradorBank"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="metodo" type="xs:string"/>
				<xs:element name="idBanco" type="xs:string"/>
				<xs:element name="requestId" type="xs:string" minOccurs="0"/>
				<xs:element name="requestDatetime" type="xs:string" minOccurs="0"/>
				<xs:element name="startParameterId" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>