CommonsLibrary/Commons/SharedResources/Schemas/Request/FcsUsosConfigurador.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="nsUsosConfiguradorFcs"
	 targetNamespace="nsUsosConfiguradorFcs"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RequestID" minOccurs="0"/>
				<xs:element ref="BankID"/>
				<xs:element ref="ClaimDate" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RequestID" type="xs:string"/>
	<xs:element name="BankID" type="xs:string"/>
	<xs:element name="ClaimDate" type="xs:string"/>
</xs:schema>