CommonsLibrary/Commons/SharedResources/Schemas/Request/ResultFileRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="nsResultFileRequestFcs"
	 targetNamespace="nsResultFileRequestFcs"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RequestID"/>
				<xs:element ref="FileContents"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RequestID" type="xs:string"/>
	<xs:element name="FileContents" type="xs:string"/>
</xs:schema>